/*
Colors

main color : #222e38;
point color : #eb5244;
border : #b3b3b3;

*/

/*------------------------------------*\
  Common
\*------------------------------------*/

/*body{
	width: 100vw;
	overflow-x: hidden;
}*/

/*------------------------------------*\
  /Common
\*------------------------------------*/

/*------------------------------------*\
  Spacing
\*------------------------------------*/

.ml-15{
	margin-left: 15px;
}

.mr-15{
	margin-right: 15px;
}

/*------------------------------------*\
  /Spacing
\*------------------------------------*/

/*------------------------------------*\
  Header
\*------------------------------------*/
header{
	background-color: #222e38;
	height: 100px; 
}
/*------------------------------------*\
  /Header
\*------------------------------------*/

/*------------------------------------*\
  top section
\*------------------------------------*/
#top{
	height: 50px;
	background-color: #b3b3b3;
	line-height: 45px;
}

/*------------------------------------*\
  /top section
\*------------------------------------*/

/*------------------------------------*\
  Category
\*------------------------------------*/
.categoryContainer{
	height: calc(100vh - 150px);
	padding-left: 0px;
    padding-right: 0px;
}

.listConatiner{
	height: inherit;
	border : 1px solid #b3b3b3;
	margin : 5px;
}

.listName{
	padding: 0.3em 0.3em 0.3em 1em;
	border-bottom: 1px solid #b3b3b3;
}

.listName p{
	margin-bottom: 0;
}

/*--- list style ---*/
ol {
  counter-reset:li;
  margin: 0;
  padding: 0;
  height: calc(100vh - 150px - 0.6em);
  overflow-y: scroll;
}
ol > li {
  list-style: none;
  margin: 0 0 0em 1.6em;
  padding-left: 0.5em;
  position: relative;
  border-bottom: 1px solid #d6d6d6;
}
ol > li:before {
  content: counter(li);
  counter-increment:li;
  position: absolute;
    left: -1.6em;
  text-align: center;
  width: 1.6em;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

ol > li:hover {
  background-color: #DDE4E8;
}

/*--- /list style ---*/

#documentList img{
	float: right;
	width: 4%;
	height: 4%;
}

/*------------------------------------*\
  /Category
\*------------------------------------*/