/*
Colors

main color : #222e38;
point color : #eb5244;
border : #b3b3b3;

primary : #0069d9;
danger : #dc3545;

*/

/*------------------------------------*\
  Common
\*------------------------------------*/

/*body{
	width: 100vw;
	overflow-x: hidden;
}*/

/*------------------------------------*\
  /Common
\*------------------------------------*/

/*------------------------------------*\
  Spacing
\*------------------------------------*/

.ml-15{
	margin-left: 15px;
}

.mr-15{
	margin-right: 15px;
}

/*------------------------------------*\
  /Spacing
\*------------------------------------*/

/*------------------------------------*\
  Header
\*------------------------------------*/
header{
	background-color: #222e38;
	height: 100px; 
}
/*------------------------------------*\
  /Header
\*------------------------------------*/

/*------------------------------------*\
  top section
\*------------------------------------*/
#top{
	height: 50px;
	background-color: #b3b3b3;
	line-height: 45px;
}

/*------------------------------------*\
  /top section
\*------------------------------------*/

/*------------------------------------*\
  Category
\*------------------------------------*/
.categoryContainer{
	height: calc(100vh - 150px);
	padding-left: 0px;
    padding-right: 0px;
}

.listConatiner{
	height: inherit;
	border : 1px solid #b3b3b3;
	margin : 5px;
}

.listName{
	padding: 0.3em 0.3em 0.3em 1em;
	border-bottom: 1px solid #b3b3b3;
}

.listName p{
	margin-bottom: 0;
}

/*--- list style ---*/

ol {
  counter-reset:li;
  margin: 0;
  padding: 0;
/*  height: calc(100vh - 151px - 0.6em);
  overflow-y: scroll;*/
}

ol > li {
  list-style: none;
  margin: 0 0 0em 1.6em;
  padding-left: 0.5em;
  position: relative;
  border-bottom: 1px solid #d6d6d6;
}

ol > li:before {
  content: counter(li);
  counter-increment:li;
  position: absolute;
    left: -1.6em;
  text-align: center;
  width: 1.6em;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

ol > li:hover {
  background-color: #DDE4E8;
}

ol > li.selection {
  background-color: #08C;
  color: white;
}
/*
ol > li.selection:before {
  content: ">";
  counter-increment:li;
  position: absolute;
    left: -1.6em;
  text-align: center;
  width: 1.6em;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}*/

/*--- /list style ---*/

#documentList img{
	float: right;
	width: 1em;
	height: 1em;
	margin-top: 3px;
}

/*------------------------------------*\
  /Category
\*------------------------------------*/

/*------------------------------------*\
  Document Enrollment  Modal
\*------------------------------------*/
#documentEnrollmentModal .modal-body{
  padding: 0;
}

.fileselect{
  padding: 1rem;
}

.fileupload-wrapper{
  height: 60vh;
  padding: 1rem;
}

#fileupload{
  border-right: 2px dashed #555;
}

#browse{
  margin-top: 5px;
  width: 200px;
  font-weight: bold;
  color: white;
}

#filedrag
{
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
  color: #555;
  cursor: default;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#filedrag div{
  align-self: center;
}

#filedrag.hover
{
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}

#filelist{
  overflow-y: scroll;
}

#filelist ul{
  list-style: none;
  padding: 0;
  margin: 1em 1.5em;

}

#filelist li{
  margin-bottom: 2em;
}

#filelist ul p{
  margin: 0;
}

.filename{
  font-weight: bold;
}

.filesize{
  color: #c1c1c1;
  font-size: 0.8em;
}

.danger{
  color : #dc3545;
}

.success{
  color : #0069d9;
}

.primary{
  color: #555;
}

#bottom{
  background-color: #ededed;
  text-align: right;
}

#bottom button{
  margin: 20px 20px 20px 0;
  width: 150px;
  font-weight: bold;
  color: white;
}

label[for="fileselect"]
{
  cursor: pointer;
  color : #0079c1;
}

/*------------------------------------*\
  /Document Enrollment  Modal
\*------------------------------------*/